*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include responsive(big-desktop) {
        font-size: 60%; //1rem = 12, 12/16
    }
    
    @include responsive(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include responsive(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, $color-negro, $color-verde-gradiente);
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: [inicio-principal] 20% [fin-principal inicio-cartas] 60% [fin-cartas inicio-puntaje] 20% [fin-puntaje];
    font-family: 'Lato', sans-serif;
    
    
}

