$color-verde-primario: #30C566;
$color-verde-primario-claro: #53d582;
$color-verde-gradiente: #16572E;
$color-verde-gradiente-2: #186333;
$color-verde-gradiente-temporizador: #00ff91;
$color-verde-oscuro: #092011;
$color-verde-select: #05130a;
$color-negro: #000;
$color-blanco: #ffff;
