.btn{
    width: 70%;
    padding: 1rem .5rem;
    text-transform: uppercase;
    border: none;
    font-size: 1.8rem;
    letter-spacing: .2rem;

    // @include responsive(tab-port){
    //     font-size: 1.5rem;
    // }
    
    &:hover{
        cursor: pointer;
    }

    &--jugar {
        @include btn;
        
        &--2{
            @include btn;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            visibility: hidden;
            width: 80%;

            &:focus{
                outline: none;
            }
        }

        &--responsive {
            grid-area: btn;
            font-size: 1.5rem;
        }
        
        &--activo{
            @include botonActivo;
        }

        &:focus{
            outline: none;
        }

    }

    &--reiniciar {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 30%;
        font-size: 1.2rem;
        margin-right: 2rem;
        background: transparent;
        color: $color-blanco;
        border: .2rem solid $color-blanco;
        display: none;

    }
}

.btn-invisible{
    // display: none;
}