.lista-puntajes {
    padding: 2rem;
    // background-color: yellow;
    list-style: none;

    @include responsive(tab-land){
        padding: 0;
    }

    &--responsive {
        display: none;
        @include responsive(tab-port){
            grid-area: puntajes;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
    
    &__items {
        padding: 1rem 2rem;
        text-transform: uppercase;
        color: $color-verde-primario;
        font-size: 1.6rem;
        font-weight: 300;
        animation: fadeInRight .4s linear;
        @include responsive(tab-port){
            font-size: 1.2rem;
        }

        @include responsive(tab-port){
            margin-top: 1.5rem !important;
        }

        & a {
            text-decoration: none;
            padding: 2px;
            color: $color-blanco;
            margin-left: 2px;
            opacity: 0.6;
            transition: 0.3s all;
            &:hover {
                opacity: 1;
            }
        }
        
        & span {
            font-weight: 400;
            color: $color-verde-primario-claro;
        }
    }
    &__items:not(:first-child){
        margin-top: 2rem;

        @include responsive(tab-port){
            margin-top: 0;
        }
        
    }
}
