.contenedor-principal {
    @include contenedorVerde;
    display: grid;
    grid-template-rows: [inicio-nombre] 10% [fin-nombre inicio-formulario] 35% [fin-formulario inicio-tiempo] 35% [fin-tiempo inicio-btn-jugar] 20% [final-btn-jugar];
    justify-items: center;

    &__titulo {
        @include centrarGridItems;
        width: 80%;
    }
    
    &__formulario {
        padding: 2rem;
        width: 80%;
        
    }

    &__temporizador {
        @include centrarGridItems;
        width: 80%;
        position: relative;
    }

    &__boton {
        @include centrarGridItems;
        position: relative;
        width: 80%;
    }
}